.about {
  .container {
    @media (max-width: 991px) {
      justify-content: center;
      .about_content {
        width: 100%;
      }
    }
  }
  .shape {
    transform: translateY(-50%);
  }
  .pattern {
    transform: translate(-50%);
    top: -18%;
    img {
      height: 135%;
    }
  }
}
